name: 'Deploy to staging'

on:
  push:
    branches:
      - develop
  pull_request:

jobs:
  check:
    name: Staging check
    uses: ./.github/workflows/check.yml
    secrets:
      git_crypt_key: ${{ secrets.GIT_CRYPT_KEY }}
  build:
    name: Staging build
    uses: ./.github/workflows/build.yml
    with:
      firebase_env: staging
    secrets:
      git_crypt_key: ${{ secrets.GIT_CRYPT_KEY }}
  deploy:
    name: Staging deploy
    needs:
      - check
      - build
    uses: ./.github/workflows/deploy.yml
    with:
      firebase_env: staging
    secrets:
      git_crypt_key: ${{ secrets.GIT_CRYPT_KEY }}
      firebase_service_account: '${{ secrets.STAGING_FIREBASE_SERVICE_ACCOUNT }}'
